QuestionForm(xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionForm.xsd")
  each object in microtask.objects
    Overview
      Title= task.name
      Text= 'Select the actors that are present in this scene'
      Binary
        MimeType
          Type image
          SubType jpg
        DataURL= 'http://demo.search-computing.org/crowd-experiment/movies/'+object.data.path
        AltText= object.data.path
    each operation in microtask.operations
      -if (operation.name === 'classify' && operation.label =='actor')
        Question
          QuestionIdentifier= object.id + '_' + operation.id
          DisplayName Select the actors you see in the scene
          IsRequired true
          QuestionContent
           Text Select the actors you see in the scene
          AnswerSpecification
            SelectionAnswer
              StyleSuggestion checkbox
              Selections
                each category in operation.params.categories
                  Selection
                    SelectionIdentifier= category
                    Text= category
            