QuestionForm(xmlns="http://mechanicalturk.amazonaws.com/AWSMechanicalTurkDataSchemas/2005-10-01/QuestionForm.xsd")
  each object in microtask.objects
    Overview
      Title= task.name
      Text Suppose you can approximately split the movie in three temporal segments.\n
        | Assign  this image to one of the three segments (beginning, middle and end).\n\n
        | Please answer ONLY if you have seen the movie.
      Binary
        MimeType
          Type image
          SubType jpg
        DataURL= 'http://demo.search-computing.org/crowd-experiment/movies/'+object.data.scene
        AltText image
    each operation in microtask.operations
      -if (operation.name === 'fuzzyclassify')
        Question
          QuestionIdentifier= object.id + '_' + operation.id
          DisplayName When does this shot appears in the movie?
          IsRequired true
          QuestionContent
           Text When does this shot appears in the movie?
          AnswerSpecification
            SelectionAnswer
              StyleSuggestion radiobutton
              Selections
                each category in operation.params.categories
                  Selection
                    SelectionIdentifier= category
                    Text= category
      -if (operation.name === 'classify' && operation.label!=='invalid')
        Question
          QuestionIdentifier= object.id + '_' + operation.id
          DisplayName Spoiler?
          IsRequired true
          QuestionContent
           Text Spoiler?
          AnswerSpecification
            SelectionAnswer
              StyleSuggestion radiobutton
              Selections
                each category in operation.params.categories
                  Selection
                    SelectionIdentifier= category
                    Text= category
            