mixin printObjects( objects )
  if objects.length==0
    .alert.alert-info No objects available.
  else
    - var classMap = { 'CREATED': '', 'CLOSED': 'danger' };
    table.table.table-striped.table-condensed.table-bordered.table-hover.dt#objects
      thead
        tr
          th Status
          th Creation/Closed date
          th Actions
      tbody
    - var completedObjects = _.countBy(objects, 'status').CLOSED || 0;
    - var totalObjects = objects.length
    - var percCompl = (completedObjects/totalObjects)*100;
    .progress
      .progress-bar.progress-bar-success(
        role='progressbar',
        aria-valuemin=0,
        aria-valuemax=100,
        style="width: #{percCompl}%;"
        aria-valuenow=percCompl) #{percCompl}%
    #objects.entity-list
      .header
        .row
          .col-xs-3.cell Status
          .col-xs-7.cell Creation/Closed date
          .col-xs-2.cell Actions
      .scrollable(style="max-height: 250px;"): .content
