mixin printParams( params )
  if params
    dl.dl-horizontal.params
      each value, key in params
        dt(title=key)= key
        dd(title=value)
          if _.isObject( value )
            pre= JSON.stringify( value, null, 2 )
          else
            tt= value


mixin printInput( name, type, multiple, id, def )
  .form-group
    label(for=id) #{name}:
    input.form-control.input-small(
      id=id,
      type=multiple? 'string' : type,
      placeholder='Insert '+name,
      data-type=type,
      data-name=name,
      data-multiple=''+multiple,
      value=def)

mixin printTextInput( name, id, def )
  .form-group
    label(for=id) #{name}:
    textarea.form-control.input-small(
      id=id,
      rows=3,
      placeholder='Insert '+name,
      data-type=type,
      data-name=name)= def

mixin printEnumInput( name, values, id, def )
  .form-group
    label(for=id) #{name}:
    select.form-control.input-small(
      id=id,
      data-type='enum',
      data-name=name)
      each value in values
        option(
          value=value,
          selected=(def==value))= value

mixin printBooleanInput( name, id, def )
  .form-group: .input-group
    span.input-group-addon.input-small
      input(
        id=id,
        type='checkbox',
        checked=(def? 'checked': ''),
        data-type='boolean',
        data-name=name)
    label(for=id)= name

mixin printParamsInput( params, prefix )
  if params
    each config, name in params
      - var id = prefix+'-'+name;
      - var type = config.type || config;
      - var def = config['default'] || '';
      - var multiple = _.isArray( type );
      - type = multiple? type[0] : type;
      if type=='boolean'
        +printBooleanInput( name, id, def )
      else if type=='enum'
        +printEnumInput( name, config.values, id, def )
      else if type=='text'
        +printTextInput( name, id, def )
      else
        +printInput( name, type, multiple, id, def )