Question
      QuestionIdentifier= object.id + '_' + operation.id
      DisplayName Like this object (if you wish...)
      IsRequired true
      QuestionContent
        Text Classify the object
      AnswerSpecification
        SelectionAnswer
            StyleSuggestion radiobutton
            Selections
                Selection
                  SelectionIdentifier= 'like'
                  Text= 'Like' 
                Selection
                  SelectionIdentifier= 'dislike'
                  Text= 'Not Like'