extends layout

block append css
  link(rel='stylesheet', href='stylesheets/social-buttons-3.css')

block append scripts
  script(src='javascripts/account.js')

block header
  h1= user.username || user.fullname

block content
  .row
    .col-md-6
      h3 User data
      form.form-horizontal
        .form-group
          label.col-md-3.control-label ID:
          .col-md-9
            p.form-control-static= user.id
        .form-group
          label.col-md-3.control-label(for='username') Username:
          .col-md-9
            input#username.form-control(type='text', value=user.username, disabled)
        .form-group
          label.col-md-3.control-label(for='name') Name:
          .col-md-9
            input#name.form-control(type='text', value=user.displayName, disabled)
        if user.email
          .form-group
            label.col-md-3.control-label(for='email') E-mail:
            .col-md-9
              input#email.form-control(type='email', value=user.email, disabled)
        if user.birthday
          .form-group
            label.col-md-3.control-label(for='birthday') Birthday:
            .col-md-9
              - var birthday = user.birthday.getFullYear()+'-'+( user.birthday.getMonth()+1)+'-'+user.birthday.getDate();
                input#birthday.form-control(type='date', value=birthday, disabled)
      h4 Add accounts
      p: .btn-group
        a.btn.btn-facebook(href='connect/facebook')
          i.icon-facebook-sign
          |  | Add facebook
        a.btn.btn-twitter(href='connect/twitter')
          i.icon-twitter
          |  | Add twitter
    .col-md-6
      h3 Metadata
      if user.metadata.length>0
        ul
          each metadata in user.metadata
            li= metadata
      else
        .alert.alert-info
          h4 Info:
          | no metadata present...

  .row
    .col-md-12
      h3 Connected accounts
      if user.accounts && user.accounts.length>0
        ul.media-list
          each account in user.accounts
            li.media.well.well-small
              if account.image
                a.pull-left
                  img.media-object(src=account.image)
              .media-body
                h4.media-heading
                  i(class="icon-#{account.provider}")
                  |  #{account.provider}
                p #{account.displayName} (#{account.uid})
      else
        .alert.alert-info
          h4 Info:
          | no accounts connected...

  //pre= JSON.stringify( user, null, 2 )