extends layout

block header
  h1 CrowSearcher Manager

block append css
  style.
    .btn-xl {
      padding: 0.5em 2em;
      font-size: 1.5em;
      line-height: 2em;
      border-radius: 16px;
    }

block homeLink
  a.navbar-brand(href=appBase)
    img.top-logo(src=appBase+'img/logo.png',alt="CrowdSearcher logo")
    span.top-logo-text= title

block content
  p.lead Hello #{user.name} #{user.surname}!

  p Welcome to the <abbr title="CrowdSearcher">CS</abbr> manager, this is the entry point for managing the Tasks and all the related entities.


  hr

  .row
    .col-md-6.text-center
      p.lead Create a Task.
      a.btn.btn-xl.btn-success(href="manage/wizard") Wizard <i class="fa fa-magic"></i>
      hr
      p.text-justify.text-danger The wizard will guide you in the creation of a new task.<br/>If it's your first time using the wizard, a tutorial will explain each step of the creation of the task.
    .col-md-6.text-center
      p.lead See the list of currently available Jobs.
      a.btn.btn-xl.btn-success(href="manage/jobs") Job list <i class="fa fa-list"></i>
      hr
      p.text-justify.text-danger Here you can see the list of the available jobs. You can see their details and delete them.