extends layout

block header
  h1 Job list

block content
  //pre= JSON.stringify( jobs, null, 2 )
  if jobs.length===0
    blockquote
      p No Jobs found in the database.
  else
    #accordion.panel-group
      for job in jobs
        .panel.panel-default
          .panel-heading
            a.accordion-toggle(
              href='#'+job._id,
              data-toggle='collapse',
              data-parent='accordion')= job.name
            if job.alias
              code= job.alias
            .btn-group.pull-right
              a.btn.btn-sm.btn-danger#delete(
                href='#',
                data-destination,
                data-id=job._id,
                data-entity='job',
                data-method='DELETE')
                i.fa.fa-trash-o
                |  Remove
              a.btn.btn-sm.btn-default(href='manage/job/'+job._id)
                i.fa.fa-folder-open
                |  Details
            .clearfix
          div(id=job._id).panel-collapse.collapse
            .panel-body
              .pull-right
                p Created:
                  code= moment( job.creationDate ).format( 'YYYY-MM-DD HH:mm' )
              .md= job.description