extends layout


block append libScripts
  script(src='libs/markdown.js')
  script(src='libs/moment.min.js')
  script(src='libs/jquery.noty.js')
  script(src='libs/jquery.noty.top.js')
  script(src='libs/jquery.noty.default.js')
  script(src='javascripts/utils.js')

block header
  h1 Job list

block content
  //pre= JSON.stringify( jobs, null, 2 )
  if jobs.length===0
    blockquote
      p No Jobs found in the database.
  else
    #accordion.panel-group
      for job in jobs
        .panel.panel-default
          .panel-heading
            a.accordion-toggle(
              href='#'+job._id,
              data-toggle='collapse',
              data-parent='accordion')= job.name
            if job.alias
              code= job.alias
            .btn-group.pull-right
              a.btn.btn-sm.btn-danger.delete(
                href='',
                data-id=job._id,
                data-entity='job',
                data-method='DELETE')
                i.fa.fa-trash-o
                |  Remove
              a.btn.btn-sm.btn-default(href='manage/job/'+job._id)
                i.fa.fa-folder-open
                |  Details
            .clearfix
          div(id=job._id).panel-collapse.collapse
            .panel-body
              .pull-right
                p Created:
                  code= moment( job.creationDate ).format( 'YYYY-MM-DD HH:mm' )
              .md= job.description
    script.
      $( 'a.delete' ).on( 'click', function( evt ) {
        evt.preventDefault();
        var link = this;
        var data = $( link ).data();


        function deleteJob() {
          var req = $.ajax( {
            url: baseUrl+'api/'+data.entity+'/'+data.id,
            type: data.method || 'DELETE'
          } );

          req.done( function ( job ) {
            noty( {
              type: 'success',
              text: 'Job deleted',
              timeout: 1500,
              callback: {
                afterClose: function() {
                  var panel = $( link ).closest( '.panel' );
                  panel.slideUp();
                }
              }
            } );
          } );

          req.fail( function( jqXHR, status, err ) {
            var json = jqXHR.responseJSON || {};
            noty( {
              type: 'error',
              text: err+': '+json.message
            } );

            console.error( json, jqXHR );
          } );
        };

        var text = 'Are you sure you want to delete the Job '+data.id+'?';
        confirmNoty( text, deleteJob );

        return false;
      } );