extends layout

include ../includes/metadata
include ../includes/status
include ../includes/objects
include ../includes/operations
include ../includes/platforms
include ../includes/params

block header
  .row
    .col-md-4
      h1
        if task.private
          i.fa.fa-lock
        else
          i.fa.fa-unlock
        |  #{task.name} 
    .col-md-4.text-center
      h3: +printStatus( task.status )
      code= moment( task[ task.status.toLowerCase()+'Date' ] ).format( 'YYYY-MM-DD HH:mm' )
    .col-md-4.text-right
      code= task._id
      p
      .btn-group
        a.btn.btn-sm.btn-info(href='manage/task/'+task._id+'/controlmart')
          i.fa.fa-table
          |  Mart
        a.btn.btn-sm.btn-default(href='manage/task/'+task._id+'/dashboard')
          i.fa.fa-dashboard
          |  Dashboard
        if !task.created
          a.btn.btn-sm.btn-default(href='manage/answers?task='+task._id) Answers 
            i.fa.fa-list
  hr

block content
  //pre= JSON.stringify( task, null, 2 )
  .row
    .col-md-4
      .btn-group
        a.btn.btn-sm.btn-default(href='manage/job/'+task.job)
          i.fa.fa-folder-open
          |  Job
    .col-md-4.text-center
      if !task.closed
        .btn-group
          if task.status=='CREATED'
            a.btn.btn-sm.btn-info(
              href='#',
              data-destination,
              data-action='open',
              data-id=task._id,
              data-entity='task',
              data-method='POST') Open
          if task.opened
            a.btn.btn-sm.btn-warning(
              href='#',
              data-destination,
              data-action='finalize',
              data-id=task._id,
              data-entity='task',
              data-method='POST') finalize
          if task.finalized || task.opened
            a.btn.btn-sm.btn-danger#close(
              href='#',
              data-destination,
              data-action='close',
              data-id=task._id,
              data-entity='task',
              data-method='POST') Close
    .col-md-4.text-right
      .btn-group
        a.btn.btn-sm.btn-danger(
          href='#',
          data-id=task._id,
          data-destination='manage/job/'+task.job,
          data-entity='task',
          data-method='DELETE')
          i.fa.fa-trash-o
          |  Remove
        if task.opened || task.finalized
          a.btn.btn-sm.btn-primary(href='api/run?task='+task._id) Execute 
            i.fa.fa-play
  hr
  .row
    .col-md-6
      h3 Control rules
      if task.controlrules.length==0
        blockquote Sorry, no control rules found.
      else
        .list-group.scrollable
          for controlrule in task.controlrules
            - var ruleId = 'rule_'+controlrule._id;
            .list-group-item
              .list-group-item-heading
                if controlrule.event
                  a(data-toggle='collapse',href='#'+ruleId)= controlrule.action || controlrule.type
                    span.pull-right.label.label-default= controlrule.event
                else
                  a(data-toggle='collapse',href='#'+ruleId)= controlrule.name
              .list-group-item-text.collapse(id=ruleId)
                +printParams( controlrule.params )

    .col-md-6
      h3 Metadata
      +printMetadata( task.metadata )
  .row
    .col-md-6
      h3 Operations
      +printOperations( task.operations )
    .col-md-6
      h3 Platforms
      +printPlatforms( task.platforms )
  hr
  .row
    .col-md-6
      h3 Microtask list
      if task.microtasks.length==0
        blockquote No microtasks available.
      else
        - var completedMicrotasks = _.countBy(task.microtasks, 'status').CLOSED || 0;
        - var totalMicrotasks = task.microtasks.length
        - var percCompl = (completedMicrotasks/totalMicrotasks)*100;
        .progress
          .progress-bar.progress-bar-success(
            role='progressbar',
            aria-valuemin=0,
            aria-valuemax=100,
            style="width: #{percCompl}%;"
            aria-valuenow=percCompl) #{percCompl}%
        
        #microtasks.entity-list
          .header
            .row
              .col-xs-3.cell Status
              .col-xs-7.cell Creation/Closed date
              .col-xs-2.cell Actions
          .scrollable(style="max-height: 250px;"): .content
            for microtask in task.microtasks
              .row(class=microtask.status.toLowerCase())
                .col-xs-3.cell(title=microtask._id): +printStatus( microtask.status )
                .col-xs-7.cell= moment( microtask.closedDate || microtask.creationDate ).format( 'YYYY-MM-DD HH:mm' )
                .col-xs-2.cell.text-right
                  a.btn.btn-xs.btn-default(href='manage/microtask/'+microtask._id)
                    .visible-lg
                      i.fa.fa-folder-open
                      |  Details
                    .hidden-lg
                      i.fa.fa-folder-open
    .col-md-6
      h3 Objects
      +printObjects( task.objects )