extends layout

include ../includes/metadata
include ../includes/status

block append libScripts
  script(src='libs/markdown.js')
  script(src='libs/moment.min.js')

block append scripts
  script(src='javascripts/manager.js')

block header
  .row
    .col-md-4
      h1
        if task.private
          i.icon-lock
        else
          i.icon-unlock
        |  #{task.name} 
    .col-md-4.text-center
      h1: +printStatus( task.status )
    .col-md-4.text-right
      p: code= task._id
      p
        if !task.closed
          small (#{ moment( task.creationDate ).format( 'YYYY-MM-DD HH:mm' ) })
        else
          small (#{ moment( task.creationDate ).format( 'YYYY-MM-DD HH:mm' ) })
  hr

block content
  .row
    .col-md-4
      .btn-group
        a.btn.btn-sm.btn-default(href='manage/job/'+task.job)
          i.icon-folder-open
          |  Job
    .col-md-4.text-center
      if !task.closed
        .btn-group
          if task.status=='CREATED'
            a.btn.btn-sm.btn-info(href='manage/task/'+task._id+'/open') Open
          if task.opened
            a.btn.btn-sm.btn-warning(href='manage/task/'+task._id+'/finalize') finalize
          if task.finalized || task.opened
            a.btn.btn-sm.btn-danger(href='manage/task/'+task._id+'/close') Close
    .col-md-4.text-right
      a.btn.btn-sm.btn-danger(href='manage/task/'+task._id+'/delete')
        i.icon-trash
        |  Delete
  hr
  .row
    .col-md-6
      h3 Control rules
      if task.controlrules.length==0
        .alert.alert-info Sorry, no control rules found.
      else
        .list-group#controlrules
          for controlrule in task.controlrules
            - var ruleId = 'rule_'+controlrule._id;
            .list-group-item
              .list-group-item-heading
                span.label.label-default.pull-right= controlrule.event
                code= controlrule.type
                a(data-toggle='collapse',href='#'+ruleId)= controlrule.action
              .list-group-item-text.collapse(id=ruleId)
                pre= JSON.stringify( controlrule.params, null, 2 )

    .col-md-6
      +printMetadata( task.metadata )
  pre= JSON.stringify( task, null, 2 )