extends layout

include ../includes/metadata
include ../includes/status
include ../includes/objects
include ../includes/operations
include ../includes/platforms
include ../includes/params

block append libCSS
  //script(src='stylesheets/jquery.dataTables.css')
  //script(src='stylesheets/datatables.css')

block append libScripts
  script(src='libs/markdown.js')
  script(src='libs/moment.min.js')
  //script(src='libs/jquery.dataTables.min.js')
  //script(src='libs/datatables.js')

block header
  .row
    .col-md-4
      h1
        if task.private
          i.fa.fa-lock
        else
          i.fa.fa-unlock
        |  #{task.name} 
    .col-md-4.text-center
      h3: +printStatus( task.status )
      code= moment( task[ task.status.toLowerCase()+'Date' ] ).format( 'YYYY-MM-DD HH:mm' )
    .col-md-4.text-right
      code= task._id
  hr

block content
  //pre= JSON.stringify( task, null, 2 )
  .row
    .col-md-4
      .btn-group
        a.btn.btn-sm.btn-default(href='manage/job/'+task.job)
          i.fa.fa-folder-open
          |  Job
    .col-md-4.text-center
      if !task.closed
        .btn-group
          if task.status=='CREATED'
            a.btn.btn-sm.btn-info(
              href='#',
              data-destination,
              data-action='open',
              data-id=task._id,
              data-entity='task',
              data-method='POST') Open
          if task.opened
            a.btn.btn-sm.btn-warning(
              href='#',
              data-destination,
              data-action='finalize',
              data-id=task._id,
              data-entity='task',
              data-method='POST') finalize
          if task.finalized || task.opened
            a.btn.btn-sm.btn-danger#close(
              href='#',
              data-destination,
              data-action='close',
              data-id=task._id,
              data-entity='task',
              data-method='POST') Close
    .col-md-4.text-right
      .btn-group
        a.btn.btn-sm.btn-danger(
          href='#',
          data-destination='manage/job/'+task.job,
          data-id=task._id,
          data-entity='task',
          data-method='DELETE')
          i.fa.fa-trash-o
          |  Delete
        if task.opened || task.finalized
          a.btn.btn-sm.btn-default(href='manage/answers?task='+task._id) Answers 
            i.fa.fa-list
        if task.opened || task.finalized
          a.btn.btn-sm.btn-primary(href='api/run?task='+task._id) Execute 
            i.fa.fa-play
  hr
  .row
    .col-md-6
      h3 Control rules
      if task.controlrules.length==0
        .alert.alert-info Sorry, no control rules found.
      else
        .list-group
          for controlrule in task.controlrules
            - var ruleId = 'rule_'+controlrule._id;
            .list-group-item
              .list-group-item-heading
                span.label.label-default.pull-right= controlrule.event
                code= controlrule.type
                a(data-toggle='collapse',href='#'+ruleId)= controlrule.action
              .list-group-item-text.collapse(id=ruleId)
                +printParams( controlrule.params )

    .col-md-6
      h3 Metadata
      +printMetadata( task.metadata )
  .row
    .col-md-6
      h3 Operations
      +printOperations( task.operations )
    .col-md-6
      h3 Platforms
      +printPlatforms( task.platforms )
  hr
  .row
    .col-md-6
      h3 Microtask list
      if task.microtasks.length==0
        .alert.alert-info No microtasks available.
      else
        - var classMap = { 'CREATED': 'info', 'OPENED': 'success', 'FINALIZED': 'warning', 'CLOSED': 'danger' };
        
        table.table.table-striped.table-condensed.table-bordered.table-hover.dt#microtasks
          thead
            tr
              th(style='width: 10%') Status
              th(style='width: 60%') Creation/Closed date
              th(style='width: 20%') Actions
          tbody
            for microtask in task.microtasks
              tr(class=classMap[ microtask.status ])
                td(title=microtask._id): +printStatus( microtask.status )
                td= moment( microtask.closedDate || microtask.creationDate ).format( 'YYYY-MM-DD HH:mm' )
                td.text-right
                  a.btn.btn-xs.btn-default(href='manage/microtask/'+microtask._id)
                    i.fa.fa-folder-open
                    |  Details
    .col-md-6
      h3 Objects
      +printObjects( task.objects )