include ../../includes/params

.row
  .col-md-6
    h3 Available invitation strategies
    .form-group
      label(for="invitation_name") Strategy:
      .input-group
        select#invitation_name.form-control.input-small(
          data-toggle='collapse',
          data-parent='#invitation-params')
          option(value='',selected) None
          each invitation in config.invitation
            option(
              data-target='#invite-'+invitation.name,
              value=invitation.name)= invitation.name
        span.input-group-btn
          button.btn.btn-small.btn-success.add(
            data-type='strategy rule',
            data-source='#invitation_name',
            data-target='#invitation_list') Add 
              i.fa.fa-plus 
    .form-group: input(type='hidden',data-name='type', value='INVITATION')
    .form-group
      label(for="invitation_event") Event:
      select#invitation_event.form-control.input-small(data-name='event')
        option(value='',selected) None
        each eventName in config.events
          option(value=eventName)= eventName
    hr
    #invitation-params
      each invitation in config.invitation
        div.collapse(id='invite-'+invitation.name)
          h4 Invitation strategy parameters
          if !_.isEmpty( invitation.params ) 
            +printParamsInput( invitation.params, 'invite-'+invitation.name )
          else
            blockquote No parameters needed
  .col-md-6
    h3 Selected invitation
    ul#invitation_list.list-group

script.
  $( '.add' ).on( 'click', function ( evt ) {
    if( $( '#invitation_name' ).val()==='' )
      return;

    var $invitationEvent = $( '#invitation_event' );
    if( $invitationEvent.val()==='' ) {
      evt.stopImmediatePropagation();
      evt.stopPropagation();
      warnNoty( 'You must select a valid <b>event</b>' );
      $invitationEvent.select();
      return false;
    }
  } );