include ../../includes/params

.row
  .col-md-6
    h3 Available custom control rules
    .form-group
      label(for="rule_name") Rule:
      .input-group
        select#rule_name.form-control.input-small(
          data-toggle='collapse',
          data-parent='#rule-params')
          option(value='',selected) None
          each rule in config.rules
            option(
              data-target='#rule-'+rule.name,
              value=rule.name)= rule.name
        span.input-group-btn
          button.btn.btn-small.btn-success.add(
            data-type='rule',
            data-source='#rule_name',
            data-target='#rule_list') Add 
            i.fa.fa-plus
    hr
    #rule-params
      each rule in config.rules
        div.collapse(id='rule-'+rule.name)
          h4 Rule parameters
          if !_.isEmpty( rule.params ) 
            +printParamsInput( rule.params, 'rule-'+rule.name )
          else
            blockquote No parameters needed
  .col-md-6
    h3 Selected rules
    ul#rule_list.list-group