extends ./layout

include ../../includes/params

block append lateScripts
  script.
    var $platformConfigs = $( '.platform-config' );
    var $platforms = $( '.platform' );
    $platforms.on( 'click', function() {
      var $this = $( this );
      $platforms.removeClass( 'active' );
      $this.addClass( 'active' );
      $this = $( this );
      var id = $this.data( 'platform' );
      $platformConfigs.hide();
      $( '#plat_'+id ).show();
    } );

    function saveData( data ) {
      if ( data )
        $( '.wzData' ).val( JSON.stringify( data ) );
    }

    $btnSend.click( function( evt ) {
      var $container = $( '.platform-config:visible' );

      if( $container.length!==0 ) {
        var name = $container.data( 'name' );
        var params = getParams( $container );

        saveData( [{
          name: name,
          params: params
        }] );
      }

      return sendData.call( this, evt );
    } );

block append css
  style(type='text/css').
    .platform {
      cursor: pointer;
      border: 1px solid #ccc;
      border-top: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 5px 10px;
    }
    .platform:hover {
      background-color: #efefef;
    }
    .platform.active {
      background-color: #ccc;
      border-color: #999;
    }
    .platform.active:hover {
      background-color: #ddd;
    }
    img.media-object {
      width: 64px;
      height: 64px;
    }

block content
  .row
    .col-md-6
      h2 Select execution platform
      for platform, platId in config.platforms
        if platform.invitation
          .media.platform(data-platform=platId)
            .pull-left
              if platform.image
                img.media-object(src=platform.image,alt=platform.name)
              else
                img.media-object(alt=platform.name,
                  src='http://placehold.it/64&text='+platId)
            
            .media-body
              h4.media-heading= platform.name
              if platform.description && platform.description.length>0
                p!= md(platform.description)
              else
                p.text-muted No description present.
    .col-md-6
      for platform, platId in config.platforms
        if platform.invitation
          .platform-config(
            id='plat_'+platId,
            data-name=platId,
            style='display: none;')
            h3 Configure #{platform.name}
            if _.size( platform.params )>0
              +printParamsInput( platform.params )